body { 
    background: linear-gradient(to right, #3B3B3B, #1A1A1A, #3B3B3B);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #F6E6C2, #EED3A7, #F6E6C2);
    padding: 10px 0;
    text-align: center;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 150px auto; /* Further increased margin to move the form down */
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.form {
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1em; /* Add this line */
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input, select, .consistent-font {
    font-family: Arial, sans-serif;
    font-size: 1em;
}

button {
    background-color: seagreen;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9em;
    color: #777;
}

#logoCSA {
    position: absolute;
    top: 60px; /* Moved down */
    right: 10px;
    height: 80px;
}

#logoEvent {
    position: absolute;
    top: 60px; /* Same as other logos */
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
}

#logoUPES {
    position: absolute;
    top: 60px; /* Moved down */
    left: 10px;
    height: 36px;
}